<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تغییر رمز عبور</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<nav class="navbar navbar-expand-sm">
    <div class="service-item">
        <a class="nav-link" href="/welcome"><i class='fas fa-home' style="font-size:20px; color: white;"> پیشخوان </i></a>
    </div>
    <div class="logout_item">
        <a class="nav-link" href="/satisfaction">خروج</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
       
            <ul class="flex-column menu">
                <li class="menu_item_style">
                    <a class="menu_item" href="/paybills">پرداخت الکترونیک قبوض</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/avarez">پرداخت الکترونیکی عوارض</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/shabacode">مشاهده کد شبا</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/havalebank">حواله بین بانکی</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/mobilecharge">خرید شارژ سیم کارت اعتباری</a>
                </li>
                <li class="menu_item_style select_item_change_pass">
                    <a class="select_item_stay" href="/changepass">تغییر رمز عبور</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-8 col-md-8">
            <div class="info_about_this_page">
                <div class="row">
                    <div class="col-lg-8">
                        <p class="personal_info_text">با استفاده از این سامانه می توانید رمز عبور خود را تغییر دهید.  </p>
                        <p class="personal_info_text"> برای این کار کافی است پس از وارد کردن شماره حساب خود و رمز عبور فعلی که دارید، رمز جدید خود را وارد کنید.</p>

                    </div>
                    <div class="col-lg-4">
                        <img src="../public/img/changepassword.jpg" class="personal_img" alt="index_img">
                    </div>
                </div>
            </div>
            <div class="enter_info">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">

                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">شماره حساب</label>
                            </div>
                            <div class="col-lg-9">
                                <div class="form_style">
                                    <div class="enter_section">
                                        <input type="number" class="form_control" id="account_num">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">رمز عبور فعلی</label>
                            </div>
                            <div class="col-lg-9">
                                <form class="form_style" action="">
                                    <div class="enter_section">
                                        <input type="password" class="form_control" id="password">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">رمز جدید</label>
                            </div>
                            <div class="col-lg-9">
                                <form class="form_style" action="">
                                    <div class="enter_section">
                                        <input type="number" class="form_control" id="password1">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">تکرار رمز جدید</label>
                            </div>
                            <div class="col-lg-9">
                                <form class="form_style" action="">
                                    <div class="enter_section">
                                        <input type="number" class="form_control" id="password2">
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-7 bottom_set">
                    <button type="submit" class="button_style sabt">ثبت</button>
                    <button type="reset" class="button_style enseraf" onclick="resetfun()">انصراف</button>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
     function resetfun(){
        document.getElementById('account_num').value = '';
        document.getElementById('password1').value = '';
        document.getElementById('password2').value = '';
        document.getElementById('password').value = '';
    }
</script>

</body>
</html>