<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>بانکداری الکترونیکی</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>

<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/signup">باز کردن حساب</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">ورود</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">خدمات الکترونیکی</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="index_text">امروزه بسیاری از شهروندان برای انجام خدمات بانکی خود به جای مراجعه به شعبه های بانکی، از سامانه های الکترونیکی استفاده می کنند. </p>
            <p class="index_text">این وبسایت یک شبیه سازی از خدمات الکترونیکی بانک است و  <span class="bold_text">فقط جهت پژوهش (پروژه کارشناسی) و بررسی واسط کاربری شما در هنگام تعامل با این سیستم طراحی شده است.</span></p>
            <p class="index_text">برای کار با این سیستم کافی است در منوی بالای صفحه  گزینه <span class="bold_text">"باز کردن حساب"</span> را انتخاب کنید و با توجه به بودجه ای که بنده برای حساب شما در نظر گرفته ام از خدمات این بانک استفاده کنید.     </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="../public/img/indeximg.jpg" class="index_img" alt="index_img">
        </div>
    </div>
</div>

</body>
</html>
