<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>پرداخت قبوض</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
<nav class="navbar navbar-expand-sm">
    <div class="col-lg-6">
        <div class="service-item">
            <a class="nav-link" href="/welcome"><i class='fas fa-home' style="font-size:20px; color: white;"> پیشخوان </i></a>
        </div>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
        <button class="nazarsanji">نظر دهید</button>
    </div>
    <div class="col-lg-1">
        <a class="nav-link" href="/logout">خروج</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="cart_style">
                <div class="cart_style_head">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
                            <p class="cart_titile">کارت بانک</p>
                        </div>
                        <div class="col-lg-4 cart_img_style">
                            <img src="../public//img/cart.png" class="cart_img" alt="cart_img">
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
                <p class="shomarecart">278<span style="padding-right: 2%"></span> 836<span style="padding-right: 2%"></span>  305<span style="padding-right: 2%"></span>  719<span style="padding-right: 2%"></span>  634</p>
                <p class="pass_style">رمز دوم: 2254702</p>
                <span class="cvv_style">CVV2: 584</span>
                <span class="date_style">تاریخ انقضا: 06/ 1399</span>
                <div>
                </div>
            </div>
            <ul class="flex-column menu">
                <li class="menu_item_style select_item_pay_bills">
                    <a class="select_item_stay" href="/paybills">پرداخت الکترونیک قبوض</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/avarez">پرداخت الکترونیکی عوارض</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/shabacode">مشاهده کد شبا</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/havalebank">حواله بین بانکی</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/mobilecharge">خرید شارژ سیم کارت اعتباری</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/changepass">تغییر رمز عبور</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-8 col-md-8">
            <div class="info_about_this_page">
                <div class="row">
                    <div class="col-lg-8">
                        <p class="personal_info_text">با استفاده از این سامانه مي توانيد ، قبض آب، برق و تلفن خود را پرداخت کنید. </p>
                        <p class="personal_info_text"> برای این کار کافی است نوع قبض مورد نظر خود را در قسمت پایین انتخاب کنید و سپس مطابق با کارت بانکی مشخص شده، مبلغ قبض خود را  <span style="font-weight: bold">(به تومان)</span> پرداخت کنید.</p>

                    </div>
                    <div class="col-lg-4">
                        <img src="../public/img/sorat_hesab.jpg" class="personal_img" alt="index_img">
                    </div>
                </div>
            </div>
            <div class="enter_info">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">نوع قبض</label>
                            </div>
                            <div class="col-lg-9">
                                <form class="form_style">
                                    <select class="form_control" id="bill">
                                        <option value="">لطفا یکی از موارد را انتخاب کنید</option>
                                        <option value="water">آب</option>
                                        <option value="elec">برق</option>
                                        <option value="phone">تلفن</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">مبلغ قبض</label>
                            </div>
                            <div class="col-lg-9">
                                <div class="form_style">
                                    <div class="enter_section">
                                        <input type="number" class="form_control" id="cost">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">شماره حساب</label>
                            </div>
                            <div class="col-lg-9">
                                <div class="enter_section">
                                <input type="number" class="form_control" id="account_num">
                                </div>
                            
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">رمز دوم</label>
                            </div>
                            <div class="col-lg-9">
                                <div class="form_style">
                                <div class="form_style">
                                    <div class="enter_section">
                                        <input type="password" class="form_control" id="secpass" >
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">CVV2</label>
                            </div>
                            <div class="col-lg-9">
                                <div class="form_style" action="">
                                    <div class="enter_section">
                                        <input type="number" class="form_control" id="cvv">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">تاریخ انقضا</label>
                            </div>
                            <div class="col-lg-4">
                                <div class="enter_section">
                                    <input type="number" class="form_control" id="expdate1">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <p class="tash_style">/</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="enter_section">
                                    <input type="number" class="form_control" id="expdate2">
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-7 bottom_set">
                    <button type="submit" class="button_style sabt" id="myBtn">ثبت</button>
                    <button type="reset" class="button_style enseraf" onclick="resetfun()">انصراف</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- show success page -->
<div id="myModal" class="modal">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-5">
            <div class="modal-content_shaba">
                <div class="success_msg">
                    <p class="success_msg1">عملیات شما با موفقیت انجام شد.</p>
                    <span class="success_msg2">مرسی از همکاری شما</span>
                    <i class='far fa-grin-beam success_msg2' style='font-size:23px'></i>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <button type="button" class="shaba_comment" onclick="window.location.href='/welcome'">OK</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<!-- fail popup -->
<div id="myModalfail" class="modal">

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-5">
            <div class="modal-content_shaba">
                <span class="close">&times;</span>
                <div class="failmsg">
                    <span>اطلاعات شما درست نسیت، لطفا باز امتحان کنید</span>
                    <i class="fa fa-frown-o" style="font-size: 23px;"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
  
  </div>


<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    var failmodal = document.getElementById("myModalfail");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function(){
        var accountnum = document.getElementById("account_num");
        var bill = document.getElementById("bill");
        var cost = document.getElementById("cost");
        var secpass = document.getElementById("secpass");
        var cvv = document.getElementById("cvv");
        var expdate1 = document.getElementById("expdate1");
        var expdate2 = document.getElementById("expdate2");
        var n = 634719305836278;
        var p = 2254702;
        var cv = 584;
        var ex1 = 06;
        var ex2 = 1399;

        if((accountnum.value == n) && (bill.value) && (cost.value != "") && (secpass.value == p) && (cvv.value == cv) && (expdate1.value == ex1) && (expdate2.value == ex2))
            modal.style.display = "block";
        else
            failmodal.style.display = "block";
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                failmodal.style.display = "none";
            }
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == failmodal) {
                    failmodal.style.display = "none";
                }
            }
    }
    function resetfun(){
        document.getElementById('account_num').value = '';
        document.getElementById('bill').value = '';
        document.getElementById('cost').value = '';
        document.getElementById("secpass").value = '';
        document.getElementById("cvv").value = '';
        document.getElementById("expdate1").value = '';
        document.getElementById("expdate2").value = '';
    }
</script>

</body>
</html>