<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>سامانه خدمات بانکداری</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm">
        <div class="col-lg-6">
            <div class="service-item">
                <a class="nav-link" href="/welcome"><i class='fas fa-home' style="font-size:20px; color: white;"> پیشخوان </i></a>
            </div>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-2">
            <button class="nazarsanji">نظر دهید</button>
        </div>
        <div class="col-lg-1">
            <a class="nav-link" href="/logout">خروج</a>
        </div>
    </nav>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <ul class="flex-column menu">
                                <li class="menu_item_style">
                                    <a class="menu_item" href="/paybills">پرداخت الکترونیک قبوض</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="/avarez">پرداخت الکترونیکی عوارض</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="/shabacode">مشاهده کد شبا</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="/havalebank">حواله بین بانکی</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="/mobilecharge">خرید شارژ سیم کارت اعتباری</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="/changepass">تغییر رمز عبور</a>
                                </li>
                            </ul>

            </div>
            <div class="col-lg-8 col-md-8 information">
                <div class="personal_info">
                    <p class="service_title">  <i class="fa fa-bank" style="font-size:22px; text-align: right; direction: rtl;"></i> به سیستم خدمات الکترونیکی بانک خوش آمدید. </p>
                    <p class="personal_info_text">شما می توانید با استفاده از اطلاعات کارت بانکی که برای شما در نظر گرفته شده است تراکنش های مورد نظر را انجام دهید.</p>
                    <p class="personal_info_text">در این سایت، هیچگونه محدودیت مالی برای شما در نظر گرفته نشده است.</p>
                    <p class="personal_info_text">لطفا پس از اتمام خدمات بانکی که در منوی سمت راست برای شما مشخص شده است، روی دکمه سبز رنک <span style="font-weight: bold;">"نظر دهید"</span> کلیک کنید و نظر خود را در رابطه با این سیستم بانکی بدهید.</p>
                    
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="cart_style">
                                <div class="cart_style_head">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-6">
                                            <p class="cart_titile">کارت بانک</p>
                                        </div>
                                        <div class="col-lg-4 cart_img_style">
                                            <img src="../public//img/cart.png" class="cart_img" alt="cart_img">
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <p class="shomarecart">278<span style="padding-right: 2%"></span> 836<span style="padding-right: 2%"></span>  305<span style="padding-right: 2%"></span>  719<span style="padding-right: 2%"></span>  634</p>
                                <p class="pass_style">رمز دوم: 2254702</p>
                                <span class="cvv_style">CVV2: 584</span>
                                <span class="date_style">تاریخ انقضا: 06/ 1399</span>
                                <div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>




</body>
</html>