<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>سامانه خدمات بانکداری</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm">
                    <div class="service-item">
                        <p class="service_title">به سیستم خدمات الکترونیکی بانک خوش آمدید </p>
                    </div>
                    <div class="logout_item">
                        <a class="nav-link" href="/logout">خروج</a>
                    </div>
                </nav>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <ul class="flex-column menu">
                                <li class="menu_item_style">
                                    <a class="menu_item" href="">پرداخت الکترونیک قبوض</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="">پرداخت الکترونیکی عوارض</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="">مشاهده کد شبا</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="">حواله بین بانکی</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="">خرید شارژ سیم کارت اعتباری</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="">صورت حساب یارانه ای</a>
                                </li>
                                <li class="menu_item_style">
                                    <a class="menu_item" href="">تغییر رمز عبور</a>
                                </li>
                            </ul>

            </div>
            <div class="col-lg-8 col-md-8 information">
                <div class="personal_info">
                    <p class="personal_info_text">شما می توانید با استفاده از این شماره کارت و موجودی حسابی که در زیر مشخص شده است، از خدمات این بانک استفاده کنید.</p>

                    <div class="row personal_info_box">
                        <div class="col-lg-6">
                            <div class="row personal_box personal_box1">
                                <div class="col-lg-7">
                                    <p class="info_item">موجودی حساب:</p>
                                    <P class="info_num">346,567,789</P>
                                    <p class="info_num_num">تومان</p>
                                </div>
                                <div class="col-lg-5" style="padding-left: 0px">
                                    <img src="../public/img/personal_money.png" class="personal_img" alt="index_img">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row personal_box personal_box2">
                                <div class="col-lg-7">
                                    <p class="info_item">شماره حساب:</p>
                                    <P class="info_num">346,567,789,134</P>
                                </div>
                                <div class="col-lg-5" style="padding-left: 0px">
                                    <img src="../public/img/personal_num.jpg" class="personal_img" alt="index_img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>




</body>
</html>