<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>رضایت مندی</title>
    <link rel="stylesheet" href="../public/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/PopupPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="pop_box">
                <div class="success_msg">
                    <span class="satisfaction_msg">مرسی از همکاری شما در انجام این پژوهش علمی</span>
                    <i class="fa fa-heart" style="font-size:24px;color:red"></i>
                </div>
                <div class="satisfaction_msg1">
                    <p>اگر این سیستم قرار بود به صورت واقعی برای یکی از بانک های کشور پیاده سازی شود،
چقدر احتمال دارد که از این سیستم استفاده کنید و آن را به دوستان خود معرفی کنید؟  </p>
                </div>
                <div class="row">

                        <div class="col-lg-1"></div>
                        <div class="col-lg-1">
                            <a style="font-size: 17px; color: rgb(206, 45, 8); font-weight: bold">1</a>
                        </div>
                        <div class="col-lg-1">
                            <a style="font-size: 17px; color: rgb(240, 83, 47); font-weight: bold">2</a>
                        </div>
                        <div class="col-lg-1">
                            <a style="font-size: 17px; color: rgb(226, 119, 23); font-weight: bold">3</a>
                        </div>
                        <div class="col-lg-1">
                            <a style="font-size: 17px; color: rgb(236, 152, 78); font-weight: bold">4</a>
                        </div>
                        <div class="col-lg-1">
                        <a style="font-size: 17px; color: rgb(236, 201, 78); font-weight: bold">5</a>
                        </div>
                        <div class="col-lg-1">
                            <a style="font-size: 17px; color: rgb(216, 228, 25); font-weight: bold">6</a>
                        </div>
                        <div class="col-lg-1">
                            <a style="font-size: 17px; color: rgb(183, 228, 25); font-weight: bold">7</a>
                        </div>
                        <div class="col-lg-1">
                            <a style="font-size: 17px; color: rgb(151, 212, 21); font-weight: bold">8</a>
                        </div>
                        <div class="col-lg-1">
                            <a style="font-size: 17px; color: rgb(97, 187, 17); font-weight: bold">9</a>
                        </div>
                        <div class="col-lg-1">
                            <a style="font-size: 17px; color: rgb(73, 142, 12); font-weight: bold">10</a>
                        </div>
                        <div class="col-lg-1"></div>
                </div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-lg-3">به احتمال کم <br>توصیه می کنم</div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">به احتمال زیاد <br>توصیه می کنم</div>
                </div>
                <div class="comment_msg">
                    <p>اگر انتقاد یا پیشنهادی در رابطه با این مرحله که انجام دارید، خوشحال می شم که در قسمت پایین برایم بنویسید. </p>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <textarea id="comment" class="text_area_style" rows="8" cols="50"></textarea>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <button type="button" class="shaba_comment" onclick="window.location.href='/logout'">ثبت</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

</div>

</body>
</html>