<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>نظرسنجی</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm">
        <div class="col-lg-6">
            <div class="service-item">
                <a class="nav-link" href="/welcome"><i class='fas fa-home' style="font-size:20px; color: white;"> پیشخوان </i></a>
            </div>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-1">
            <a class="nav-link" href="/logout">خروج</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdrscxA83fY67YDWgvvyaxeYmXnHlTTAZOolHQZ-NCgNlVmyQ/viewform?embedded=true" width="100%" height="989" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>


</body>
</html>