<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>مشاهده کد شبا</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<nav class="navbar navbar-expand-sm">
    <div class="service-item">
        <a class="nav-link" href="/welcome"><i class='fas fa-home' style="font-size:20px; color: white;"> پیشخوان </i></a>
    </div>
    <div class="logout_item">
        <a class="nav-link" href="/satisfaction">خروج</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="cart_style">
                <div class="cart_style_head">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
                            <p class="cart_titile">کارت بانک</p>
                        </div>
                        <div class="col-lg-4 cart_img_style">
                            <img src="../public//img/cart.png" class="cart_img" alt="cart_img">
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
                <p class="shomarecart">278<span style="padding-right: 2%"></span> 836<span style="padding-right: 2%"></span>  305<span style="padding-right: 2%"></span>  719<span style="padding-right: 2%"></span>  634</p>
                <p class="pass_style">رمز دوم: 2254702</p>
                <span class="cvv_style">CVV2: 584</span>
                <span class="date_style">تاریخ انقضا: 06/ 1399</span>
                <div>
                </div>
            </div>
            <ul class="flex-column menu">
                <li class="menu_item_style">
                    <a class="menu_item" href="/paybills">پرداخت الکترونیک قبوض</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/avarez">پرداخت الکترونیکی عوارض</a>
                </li>
                <li class="menu_item_style select_item">
                    <a class="select_item_stay" href="/shabacode">مشاهده کد شبا</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/havalebank">حواله بین بانکی</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/mobilecharge">خرید شارژ سیم کارت اعتباری</a>
                </li>
                <li class="menu_item_style">
                    <a class="menu_item" href="/changepass">تغییر رمز عبور</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-8 col-md-8">
            <div class="info_about_this_page">
                <div class="row">
                    <div class="col-lg-8">
                        <p class="personal_info_text">با استفاده از این سامانه می توانید کد شبای حساب خود را مشاهده کنید. </p>
                        <p class="personal_info_text">برای این کار کافی است شماره حساب خود را در قسمتی که مشخص شده است، وارد کنید. </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="../public/img/code_shaba.png" class="personal_img" alt="index_img">
                    </div>
                </div>
            </div>
            <div class="enter_info">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">

                        <div class="row">
                            <div class="col-lg-3">
                                <label class="lable_section">شماره حساب</label>
                            </div>
                            <div class="col-lg-9">
                                <form class="form_style">
                                    <div class="enter_section">
                                        <input type="number" class="form_control" id="account_num">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <div class="form_style">
                                    <div class="enter_section">
                                        <button class="shaba_buttom sabt" id="myBtn">مشاهده کد شبا</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <div class="form_style">
                                    <div class="enter_section">
                                        <button type="button" class="shaba_buttom enseraf" onclick="document.getElementById('account_num').value = ''">انصراف</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- show shaba code -->
<div id="myModal" class="modal">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-5">
            <div class="modal-content_shaba">
                <div class="shaba-code">
                    <p>کد شبای حساب شما</p>
                    <p>IR65-5824-0056-7623-2315-78</p>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <button type="button" class="shaba_comment" onclick="window.location.href='/successpage'">OK</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        var accountnum = document.getElementById("account_num");
        var n = 634719305836278;
        if(accountnum.value == n)
            modal.style.display = "block";
        else
            alert("اطلاعات شما درست نسیت، لطفا باز امتحان کنید ");
    }
</script>
</body>
</html>