<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>عملیات موفق آمیز</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/PopupPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="pop_box">
                <div class="success_msg">
                    <p class="success_msg1">عملیات شما با موفقیت انجام شد.</p>
                    <span class="success_msg2">مرسی از همکاری شما</span>
                    <i class='far fa-grin-beam success_msg2' style='font-size:23px'></i>
                </div>
                <div class="test_msg">
                    <p>اگر قرار باشه به این مرحله که انجام دادی از نظر <span style="font-weight: bold; font-size: 20px">سختی</span> نمره کیفی بدهی، کدام یک از گزینه های زیر را انتخاب می کردی؟</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 test_check">
                        <input type="checkbox" class="check_style">
                        <label>خیلی آسون بود</label>
                    </div>
                    <div class="col-lg-3 test_check">
                        <input type="checkbox" class="check_style">
                        <label> آسون بود</label>
                    </div>
                    <div class="col-lg-3 test_check">
                        <input type="checkbox" class="check_style">
                        <label>سخت بود</label>
                    </div>
                    <div class="col-lg-3 test_check">
                        <input type="checkbox" class="check_style">
                        <label>خیلی سخت بود</label>
                    </div>
                </div>
                <div class="comment_msg">
                    <p>اگر انتقاد یا پیشنهادی در رابطه با این مرحله که انجام دارید، خوشحال می شم که در قسمت پایین برایم بنویسید. </p>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <textarea id="comment" class="text_area_style" rows="8" cols="50"></textarea>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <button type="submit" class="shaba_comment">ثبت</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

</div>

</body>
</html>